
<html>
<head>
<title>About | Ruby on Rails Tutorial Sample App"</title>
</head>
<body>

<h1> About </h1>
<p>
The <em>ruby on rails tutorial<em/> <a href="www.a.com">things</a></em> a series based in a book that has <a href="www.a.com">things</a>
</p>

</body>
</html>