<h1>Zelp/h1>
<p>
get help on this tutorial in 
<a href="estudasses.com/help">Ruby on Rails Tutorial  helps pages</a>
sample application 

<a href="estudasses.com/helpman">to get help on this sample app see</a>
<em>brooks</em>
</p>