
<html>
<head>
<title>Help |Ruby on Rails Tutorial Sample App"</title>
</head>
<body>

<h1>Zelp</h1>
<p>
get help on this tutorial in 
<a href="www.estudasses.com/help">Ruby on Rails Tutorial  helps pages</a>
sample application 

<a href="www.estudasses.com/helpman">to get help on this sample app see</a>
<em>brooks</em>
</p>
</body>
</html>