
<html>
<head>
<title>Home | Ruby on Rails Tutorial Sample App"</title>
</head>
<body>
<h1>Sample App</h1>
<p>
this is the home page for the tutorial
<a href="www.estudasses.com">Ruby on Rails Tutorial </a>
sample application 
</p>
</body>
</html>